﻿@{
    ViewBag.Title = "Administration";
}
@using Roleplay_website.Models;

@model List<ApplicationUser>

<style>
    .Search {
        position: absolute;
        right: 7em;
        top: 5em;
    }
</style>



@using (Ajax.BeginForm("Show_users_roles", new AjaxOptions { UpdateTargetId = "results" }))
{
<h2>Administration</h2>
 <input class="Search" type="text" name="Name" />
 <input class="Search" type="submit" value="Поиск" />

<table id="results"> </table>
 
}


<script>
    $.ajax({
        url: '@Url.Action("Show_users_roles")',
        success: function (html) {
            $("#results").html(html);
            dataType: "script"
        }
    })
</script>

