﻿
@{
    ViewBag.Title = "Delete_Template";
}


@model Roleplay_website.Models.Template
<h2>Удаление шаблона</h2>
<dl>
    <dt>Название</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>Создатель:</dt>
    <dd>
        @Html.DisplayFor(model => model.User_owner)
    </dd>

    <dt>Базовый шаблон?</dt>
    <dd>
        @Html.DisplayFor(model => model.Is_base)
    </dd>

    <dt>Описание:</dt>
    <dd>
        @Html.DisplayFor(model => model.Template_text)
    </dd>

    <dt>Текст шаблона:</dt>
    <dd>
        @Html.DisplayFor(model => model.Template_form)
    </dd>

    <dt>Создан по книге:</dt>
    <dd>
        @Html.DisplayFor(model => model.Rulebook_link)
    </dd>

</dl>

@using (Html.BeginForm())
{
    <input type="submit" class="btn btn-default" value="Удалить" />
}