﻿
@{
    ViewBag.Title = "Delete_user";
}

@model Roleplay_website.Models.ApplicationUser


<h2>Удаление пользователя</h2>

<h3>Вы уверены что хотите удалить пользователя?</h3>
<div>
    <h4>@Model.UserName</h4>

    <p>Пользователь находится в следующих ролях:</p>
    <table>
        <tr>
            @foreach (var role in ViewBag.all_roles)
            {
                @:<td><p style="text-indent:20px">@role.Name</p></td>
                
            }
        </tr>

        <tr>
            @foreach (var global_role in ViewBag.all_roles)
            {
                var created = false;

                foreach (var user_role in Model.Roles)
                {
                    if (user_role.Role.Name == global_role.Name)
                    {
                        <td><p style="text-indent:20px"><input type="checkbox" checked onclick="return false;" /></p></td>
                        created = true;
                        break;
                    }

                }

                if (created != true)
                {
                    <td><p style="text-indent:20px"><input type="checkbox" onclick="return false;" /></p></td>
                }

            }

        </tr>
        
    </table>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="button" onclick="window.location.href = '/Home/My_characters'" class="btn btn-default" value="Назад" />|
                <input type="submit" value="Удалить" class="btn btn-default" />               
            </div>
        }
</div>

