﻿@model Roleplay_website.Models.Character

@{
    ViewBag.Title = "Delete_Character";
}

<h2>Удаление персонажа</h2>

<h3>Вы уверены что хотите удалить следующего персонажа?</h3>
<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hero_blank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hero_blank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hero_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hero_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hero_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hero_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hero_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hero_status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <input type="button" onclick="window.location.href = '/Home/My_characters'" class="btn btn-default"  value="Назад" />
        </div>
    }
</div>
