﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h3>Приветствие!</h3>

        <br>Приветствую вас друзья, данный сайт посвящен ролевым играм<br/>
        <br>Здесь вы можете: <br />
        <br>Cоздавать своих персонажей из готовых шаблонов и создавать свои шаблоны<br />
        <br>Принимать участие в играх других игроков<br />
        <br>Создавать свои игры<br />

    </div>