﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Search {
        position: absolute;
        right: 7em;
        top: 5em;
    }
</style>



<div>
    <h3>Персонажи</h3>
    @using (Ajax.BeginForm("Show_some_characters", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input class="Search" type="text" name="Name" />
        <input class="Search" type="submit" value="Поиск" />
    }

    <script>
        $.ajax({
            url:  '@Url.Action("Show_some_characters")',
            success: function (html) {
                $("#results").html(html);
                dataType: "script"
            }
        })
    </script>

    <table id="results"> </table>


    <p><a href="/Home/New_Character/" class="btn btn-default" >Создать персонажа:</a></p>

</div>

