﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Search {
        position: absolute;
        right: 7em;
        top: 5em;
        }
</style>



<div>
    <h3>Базовые шаблоны</h3>

    @using (Ajax.BeginForm("Show_some_templates", new AjaxOptions { UpdateTargetId = "results" }))
{
    <input class="Search" type="text" name="Name" />
    <input class="Search" type="submit" value="Поиск" />
}
 
    <script> 
        $.ajax({
            url:  '@Url.Action("Show_some_templates")',
            success: function(html){  
            $("#results").html(html);
            dataType: "script"}
        })
    </script>
   
            <table id="results"> </table>

    </div>


    <p><a href="/Home/New_template/" class="btn btn-default">Создать шаблон:</a></p>



