﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Roleplay_website.Models.Template>

    <script type="text/javascript">
    var text = "Text message";
    var id = 0;

    $(document).submit(function () {

        if ($('input[name="Hero_name"]').val() == "") {
            alert("Укажите имя персонажа"); //new value
            return false;
        }
        else if ($('input[name="Hero_text"]').val() == "") {
            alert("Укажите описание персонажа"); //new value
            return false;
        }
    });

    $(document).ready(function () {
        
        $('select[name="select_template"]').change(function () {

            id = $('select[name="select_template"] option:selected').val();

           if (id != "")
           {

               $.ajax({
                   url: '@Url.Action("Show_form_text")',
                   data: { text_Id: $('select[name="select_template"] option:selected').val() },                  
                   success: function (data) {
                       var results = $('textarea[name="Hero_blank"]'); // получаем нужный элемент
                       results.empty(); //очищаем элемент
                       for (var i = 0; i < data.length; i++) {
                           results.append(data[i].Template_form);
                           dataType: "script"
                       }

                   }
               })
           }

           
        });
    });


    </script>



    <div>
        <h3>Форма создания персонажа</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.CharacterId" name="TemplateId" />
            <input type="hidden" value="Active" name="Hero_status" />

            <table>

                <tr>
                    <td><p>Введите имя персонажа</p></td>
                    <td><input type="text" name="Hero_name" /> </td>
                </tr>

                <tr>
                    <td><p>Введите описание персонажа </p></td>
                    <td>
                        @Html.TextArea("Hero_text", "", 5, 30, new { })
                    </td>

                </tr>


                <tr>
                    <td><p>Выберите шаблон :</p></td>
                    <td>
                        <p>
                            <select name="select_template" size="1">
                                <option value="">Without template</option>
                                @foreach (var template in ViewBag.Templates)
                                {
                                    if (template.User_owner == User.Identity.Name || User.IsInRole("admin") == true || template.Is_base == true)
                                    {
                                        <option value="@template.Id">@template.Name</option>
                                    }
                                }

                            </select>
                    </td>
                </tr>

                <tr>

                    <td><p>Шаблон :</p></td>
                    <td>
                        <p id="template_area"></p>
                        <textarea cols=" 60" rows="20" name="Hero_blank"></textarea>
                    </td>
                </tr>

                <tr><td></td></tr>

                <tr>
                    <td>
                        <input type="button" onclick="window.location.href = '/Home/My_characters'" class="btn btn-default" value="назад" />
                        <input type="submit" class="btn btn-default" value="сохранить" />
                    </td>
                    <td></td>
                </tr>

            </table>

        </form>
    </div>
