﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Roleplay_website.Models.Template

<script type="text/javascript">

    $(document).ready(function () {

        $(':checkbox').change(function () {           
            if (this.checked) {
                $(':checkbox').val(true);
            }
            else {
                $(':checkbox').val(false);
            }
        });
    });


</script>



    <div>
        <h3>Форма создания шаблона</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.TemplateId" name="Id" />
            <table>
                    
                    @if ((User.IsInRole("admin") == true))
                    { 
                <tr>
                    <td><p>Сделать базовым </p></td>
                    <td><input type="checkbox" id="Is_base" name="Is_base" /></td>
                </tr>
                    
                    }

                <tr>
                    <td><p>Введите имя шаблона </p></td>
                    <td> @Html.TextBoxFor(model => model.Name)</td>
                </tr>

                <tr>
                    <td><p>Введите описание шаблона </p></td>
                    <td>@Html.TextAreaFor(model => model.Template_text) </td>
                </tr>

                <tr>
                    <td><p>Создайте форму шаблона :</p></td>
                    <td>                     
                        @Html.TextAreaFor(model=>model.Template_form, 20, 60, null)
                    </td>
                </tr>

                <tr>
                    <td><p>Укажите ссылку на книгу правил :</p></td>
                    <td>@Html.TextBoxFor(model => model.Rulebook_link)</td>
                </tr>

                <tr><td><input type="button" onclick="window.location.href = '/Home/My_templates'" value="назад" class="btn btn-default" /> <input type="submit" value="Сохранить" class="btn btn-default" /> </td><td></td></tr>



            </table>
        </form>
    </div>