﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Roleplay_website.Models.Template

<style>
    .btn-default_hidden {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        visibility: hidden;
        color: #333333;
        background-color: #ffffff;
        border-color: #cccccc;
    }

    .buttons {
        position: relative;
        bottom: -3em;
        left: -5em;
    }

</style>

<script>

    var is_ok = false;

    $(document).submit(function () {

        if (is_ok != true) {
            return false;
        }


    });

    function Show_save_button() {
        var object = document.getElementById("save_button");
        object.style.visibility = 'visible';

        $('input[name="Name"]').show();
        $('textarea[name="Template_text"]').show();
        $('input[name="Rulebook_link"]').show();
        $('input[name="Name"]').show();
        $('textarea[name="Template_form"]').attr('readonly', false);
        $('textarea[name="Template_text"]').attr('readonly', false);

        @if ((User.IsInRole("admin") == true))
         {
            <text>
        $('input[name="Is_base"]').show();
        $('label[name="Is_base"]').text("Сделать шаблон базовым?")
        </text>

             if (ViewBag.Is_base == true)
                    {
                       @:$('checkbox[name="Is_base"]').attr('checked', true);
                               @:$('checkbox[name="Is_base"]').val(true);
                                    }
             else
                    {
                       @:$('checkbox[name="Is_base"]').attr('checked', false);
                               @:$('checkbox[name="Is_base"]').val(false);
                                    }

        }

        is_ok = false;
    }

    $(document).ready(function () {

        $(':checkbox').change(function () {
            if (this.checked) {
                $(':checkbox').val(true);
            }
            else {
                $(':checkbox').val(false);
            }
        });
    });

    function Set_ok() {
        is_ok = true;
    }


</script>

    <div>
        
        <form method="post" action="">

            <h3>@Html.Label("Name", Model.Name)</h3> 
            
            @Html.TextBoxFor(m => m.Name, new {hidden = "" })  

            @Html.Hidden("Id",Model.Id)
            @Html.Hidden("User_owner", Model.User_owner)

            <p></p>
            <p></p>

            

            @if (Model.Is_base==true)
            {                           
                @Html.Label("Is_base", "Тип: Базовый шаблон", new { name = "Is_base" });
                <p></p>
                @Html.CheckBoxFor(m => m.Is_base, new { Attribute = "checked", hidden = "" })  
            }
            else
            {
                @Html.Label("Is_base", "Тип: Пользовательский шаблон", new { name = "Is_base" });
                <p></p>
                @Html.CheckBoxFor(m => m.Is_base, new { hidden = "" })

            }

            <p>@Html.Label("Short_text_show", "Описание:")</p>
            <p>@Html.TextAreaFor(m=>m.Template_text,5,30,new{})</p>
            <script>
                $('textarea[name="Template_text"]').attr('readonly', true);
            </script>
            
            <p> </p>

            <p>Форма шаблона:</p>
            <textarea readonly cols=" 60" rows="30" name="Template_form">@Model.Template_form</textarea>
            @if ((Model.Is_base == false) || (User.IsInRole("admin") == true) || (User.IsInRole("moderator") == true) || (User.Identity.Name == @Model.User_owner))
            {
            <input type="image" onclick="Show_save_button()" src="/icons//EditBig.png" alt="редактировать шаблон">
            }


            @if ((@Model.Is_base == false) || (User.IsInRole("admin") == true) || (User.Identity.Name == @Model.User_owner))                            
            {            
            <a href="/Home/Delete_Template/@Model.Id" class="buttons"><img src="/icons/DeleteBig.png" alt="Удалить шаблон"></a>
                
            }



            <p>Создано по книге:@Model.Rulebook_link</p> <input type="text" hidden value="@Model.Rulebook_link" name="Rulebook_link" />
            <p></p>
            
            <input type="button" class="btn btn-default"  onclick="window.location.href = '/Home/My_templates'" value="назад" />
            <input id="save_button" class="btn-default_hidden" type="submit" onclick="Set_ok()" value="сохранить" />
        </form>

    </div>

