﻿@using Roleplay_website.Models;
@model List<ApplicationUser>

    <tr>
    <td><p>Имя пользователя:</p></td>
    <td><p style="text-indent:20px">Id пользователя:</p></td>
    @foreach(var global_role in ViewBag.all_roles)
        {
        @:<td><p style="text-indent:20px">@global_role.Name</p></td>      
        }
    </tr>



        @foreach (var user in Model)
        {
            @:<tr>
                @:<td><p>@user.UserName</p></td>
                @:<td><p style="text-indent:20px">@user.Id</p></td>
                            
                var user_roles = user.Roles.ToList();
                bool created= false;
            
            foreach (var global_role in ViewBag.all_roles)
            { 
            
             created=false;

                    foreach (var user_role in user_roles)
                    {
                        if (user_role.Role.Name==global_role.Name)
                        {
                            <td><p style="text-indent:20px" ><input type="checkbox" checked onclick="return false;" /></p></td>
                            created = true;
                            break;
                        }
                    
                    }
                    
                    if (created != true)
                    { 
                      <td><p style="text-indent:20px" ><input type="checkbox"onclick="return false;" /></p></td>
                    }
                
                
                
            }
            
            <td><p style="text-indent:20px"><a href="/Home/Show_user/@user.Id">Открыть:</a></p></td>
                
                 @:</tr>  
            
        }
           
            


        <!---
   foreach (var role in )
    {
        :<td><p style="text-indent:20px">role.Name</p></td>
    }
-->

</tr>



