﻿@model IEnumerable<Roleplay_website.Models.Character>

<div id="searchresults">
        <tr>
            <td><p>Имя персонажа:</p></td>
            <td><p style="text-indent:20px">Владелец персонажа:</p></td>
            <td><p style="text-indent:20px">Описание:</p></td>
            <td><p style="text-indent:20px">Участвует в игре:</p></td>
            <td><p style="text-indent:20px">Статус:</p></td>
            <td><p></p></td>
            <td></td>


        </tr>

        @foreach (var character in Model)
        {
            if (User.IsInRole("admin") == true || character.Owner == User.Identity.Name)
                {
                    string herotext = character.Hero_text;
                    <tr>
                        <td><p>@character.Hero_name</p></td>
                        <td><p style="text-indent:20px">@character.Owner</p></td>
                        <td><p style="text-indent:20px">                        
                                @Html.TextArea(herotext, herotext, 5, 30, new { blocked = "" })                             
                            </p></td>
                        <td><p style="text-indent:20px">@character.Game</p></td>
                        <td><p style="text-indent:20px">@character.Hero_status</p></td>           
                        <td><p style="text-indent:20px"><a href="/Home/Show_Character/@character.Id">Открыть:</a></p></td>
                        <td></td>     
                        <td><p style="text-indent:10px"><a href="/Home/Delete_character/@character.Id"><img src="/icons/Delete.png" alt="Удалить шаблон"></a></p></td>
                        
                    </tr>
            
                }






        }


</div>