﻿@model IEnumerable<Roleplay_website.Models.Template>

<div id="searchresults">

        <tr>
            <td><p>Имя шаблона:</p></td>
            <td><p style="text-indent:20px">Создатель:</p></td>
            <td><p style="text-indent:20px">Описание</p></td>
            <td><p style="text-indent:20px">Тип шаблона</p></td>
            <td><p style="text-indent:20px"></p></td>
            <td><p style="text-indent:20px">Создано по книге:</p></td>
            <td></td>
        </tr>

        @foreach (var template in Model)
        {

            if (User.Identity.Name == template.User_owner || User.IsInRole("admin") == true || template.Is_base == true)
            {
                string text = template.Template_text;
               

                <tr>
                    <td><p>@template.Name</p></td>
                    <td><p style="text-indent:20px">@template.User_owner</p></td>
                    <td>
                        <p style="text-indent:20px">

                            @Html.TextArea(text, text, 5, 30, new { blocked = "" })

                        </p>
                    </td>
                    <!--
                    <td><p style="text-indent:20px">b.Template_text</p></td>
                        -->
                    <td>
                        @if (template.Is_base == false)
                        {
                            @:<p style="text-indent:20px">Пользовательский</p>
                            }
                        else
                        {
                            @:<p style="text-indent:20px">Базовый</p>
                            }
                    </td>
                    <td><p style="text-indent:20px"><a href="/Home/Show_Template/@template.Id">Открыть</a></p></td>
                    <td>
                        @if (template.Rulebook_link != null)
                        {
                            if (template.Rulebook_link.StartsWith("http://") || template.Rulebook_link.StartsWith("https://"))
                            {
                                <p style="text-indent:20px"><a href="@template.Rulebook_link" target="_blank">Открыть книгу</a></p>
                            }
                            else
                            {
                                <p style="text-indent:20px">@template.Rulebook_link</p>
                            }
                        }
                    </td>
                    <td></td>
                    
                    @if ((template.Is_base == false) || (User.IsInRole("admin") == true) || (User.Identity.Name == template.User_owner))
                    {
                        <td><p style="text-indent:10px"><a href="/Home/Delete_Template/@template.Id"><img src="/icons/Delete.png" class="ButtonRight" alt="Удалить шаблон"></a></p></td>
                    }

                </tr>

            }

            ///!!
        }



</div>
