﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Roleplay_website.Models.Character

<style>
    .btn-default_hidden {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        visibility: hidden;
        color: #333333;
        background-color: #ffffff;
        border-color: #cccccc;
    }

    .buttons {
        position: relative;
        bottom: -3em;
        left: -5em;
    }

</style>

<script>

    var is_ok = false;

    $(document).submit(function () {

        if (is_ok != true) {
            return false;
        }


        if ($('input[name="Name"]').val() == "") {
            alert("Укажите имя персонажа"); //new value
            return false;
        }

        else if ($('input[name="Hero_text"]').val() == "") {
            alert("Укажите описание персонажа"); //new value
            return false;
        }


    });

    function Show_save_button() {

        var object = document.getElementById("save_button");
        object.style.visibility = 'visible';

        $('input[name="Hero_text"]').show();
        $('input[name="Hero_name"]').show();


        @if (User.IsInRole("admin") == true)
        {
            @:$('input[name="Hero_status"]').show();
            @:$('input[name="Game"]').show();
        }

        $('textarea[name="Hero_blank"]').attr('readonly', false);
        $('textarea[name="Hero_text"]').attr('readonly', false);
        is_ok = false;
    }

    function Set_ok() {
        is_ok = true;
    }


</script>


<div>

    <form method="post" action="">

        <h3>@Html.Label("Name", Model.Hero_name)</h3>

        @Html.HiddenFor(m=>m.Id)
        @Html.HiddenFor(m=>m.Owner)

        @Html.TextBoxFor(m => m.Hero_name, new { hidden = "" })

        <!--
        <input type="text" hidden value="ViewBag.Name" name="Hero_name" />
            -->


        <p>Игрок :@Model.Owner</p>
        <p>Участвует в играх:@Model.Game</p>
        @Html.TextBoxFor(m=>m.Game,new { hidden=""})

        <!--
        <input type="text" hidden value="ViewBag.Game" name="Game" />
        -->
        <p>Текущий статус:@Model.Hero_status</p>
        @Html.TextBoxFor(m => m.Hero_status, new { hidden=""})
        <!--
        <input type="text" hidden value="ViewBag.Hero_status" name="Hero_status" />
         -->
        <p>Краткое описание:@Model.Hero_text</p>
        @Html.TextAreaFor(m=>m.Hero_text,5,30,new{})
        <script>
            $('textarea[name="Hero_text"]').attr('readonly', true);
        </script>

        <!--

        <input type="text" hidden value="ViewBag.Hero_text" name="Hero_text" />
 -->

        <p></p>
        <p>Бланк персонажа: </p>
        <textarea readonly cols=" 60" rows="20" name="Hero_blank">@Model.Hero_blank</textarea>
        <input type="image" onclick="Show_save_button()" src="/icons//EditBig.png" alt="редактировать шаблон">
                @if ((User.IsInRole("admin") == true) || (User.Identity.Name == @Model.Owner))
        {
            <a href="/Home/Delete_character/@Model.Id" class="buttons"><img src="/icons/DeleteBig.png" alt="Удалить шаблон"></a>
        }

        <p></p>
        <p><input type="submit" class="btn btn-default" onclick="window.location.href = '/Home/My_characters'" value="назад" />|<input id="save_button" type="submit" onclick="Set_ok()" class="btn-default_hidden" value="сохранить" /> </p>


    </form>



</div>




