﻿@{
    ViewBag.Title = "Show_user";
}

@model Roleplay_website.Models.ApplicationUser

<script>
    var is_ok=false;

    $(document).submit(function () {

        if (is_ok != true) {
            return false;
        }
    });

    function Edit_roles() {
        var user_roles = new Array();

        if ($('input[name="edit_role_button"]').val() == "редактировать") {
            var objects = document.getElementsByClassName("userroles")
            $('input[class="userroles"]').each(function () {
                (this).onclick = "return true";
            });

            $('input[name="edit_role_button"]').val("сохранить")
        }
        else {
            $('input[class="userroles"]').each(function () {
                if ($(this).prop("checked")) {
                    curr_text = $(this).val();
                    user_roles = user_roles + curr_text + ",";
                }


            });

            is_ok = true;

            $.ajax({
                url: '@Url.Action("Update_user")',
                type: "POST",
                async: false,
                data: { roles: user_roles, userId: '@Model.Id' },
                success: function (url){
                    window.location.replace(url);
                }             
            });
        }

    }

</script>

<form method="post" action="">


    <h2>@Model.UserName</h2>
    <p> ID пользователя</p>
    <p>@Model.Id</p>
    <p>Пользователь находится в следующих ролях:</p>

    <table>
        <tr>
            @foreach (var role in ViewBag.all_roles)
            {
                @:
                <td><p style="text-indent:20px">@role.Name</p></td>
            }
        </tr>

        <tr>
            @foreach (var global_role in ViewBag.all_roles)
            {
                var created = false;

                foreach (var user_role in Model.Roles)
                {
                    if (user_role.Role.Name == global_role.Name)
                    {
                        <td><p style="text-indent:20px"><input type="checkbox" class="userroles" value="@global_role.Name" checked onclick="return false;" /></p></td>
                        created = true;
                        break;
                    }

                }

                if (created != true)
                {
                    <td><p style="text-indent:20px"><input class="userroles" value="@global_role.Name" type="checkbox" onclick="return false;" /></p></td>
                }

            }

        </tr>

    </table>

    <p>Хэш пароля:</p>
    <p>@Model.PasswordHash</p>

    <input type="button" onclick="window.location.href = '/Home/Administration'" class="btn btn-default" value="назад" />|<input type="button" onclick="Edit_roles()" class="btn btn-default" name="edit_role_button" value="редактировать">|<input type="button" onclick="window.location.href = '/Home/Delete_user/@Model.Id'" class="btn btn-default" value="удалить">
    <input name="Roles" hidden type="text" />

</form>